{
  "openapi": "3.1.0",
  "info": {
    "title": "Bags Public API v2",
    "description": "API endpoints for Bags platform",
    "version": "2.0.0",
    "contact": {
      "name": "Bags Support",
      "url": "https://support.bags.fm"
    }
  },
  "servers": [
    {
      "url": "https://public-api-v2.bags.fm/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key authentication. Provide your API key as the header value."
      }
    },
    "schemas": {
      "AgentAuthInitRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "Solana wallet public key (base58) that will sign the authentication challenge"
          }
        },
        "required": [
          "address"
        ]
      },
      "AgentAuthInitResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Base58-encoded challenge message. Decode to raw bytes before signing with Ed25519."
          },
          "nonce": {
            "type": "string",
            "description": "Single-use authentication nonce tied to the challenge message"
          }
        },
        "required": [
          "message",
          "nonce"
        ]
      },
      "AgentAuthCallbackSignatureRequest": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Base58-encoded Ed25519 signature of the decoded challenge message bytes"
          },
          "address": {
            "type": "string",
            "description": "Solana wallet public key (base58) used to create the signature"
          },
          "nonce": {
            "type": "string",
            "description": "Nonce returned by /agent/v2/auth/init"
          },
          "keyName": {
            "type": "string",
            "description": "Human-readable label for the API key to be created"
          }
        },
        "required": [
          "signature",
          "address",
          "nonce",
          "keyName"
        ]
      },
      "AgentAuthCallbackMfaRequest": {
        "type": "object",
        "properties": {
          "authCode": {
            "type": "string",
            "description": "One-time auth code returned when MFA is required"
          },
          "mfaCode": {
            "type": "string",
            "description": "One-time MFA verification code"
          },
          "keyName": {
            "type": "string",
            "description": "Human-readable label for the API key to be created"
          }
        },
        "required": [
          "authCode",
          "mfaCode",
          "keyName"
        ]
      },
      "AgentAuthCallbackSuccessResponse": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "description": "Newly created API key. This value is shown once and should be stored securely."
          },
          "keyId": {
            "type": "string",
            "description": "Unique identifier for the created API key"
          },
          "isSignup": {
            "type": "boolean",
            "description": "Whether this authentication flow created a new account"
          }
        },
        "required": [
          "apiKey",
          "keyId",
          "isSignup"
        ]
      },
      "AgentAuthCallbackMfaRequiredResponse": {
        "type": "object",
        "properties": {
          "mfaRequired": {
            "type": "boolean",
            "description": "Whether a second callback step with MFA is required"
          },
          "mfaMethod": {
            "type": "string",
            "description": "MFA method requested by the server (for example, totp)"
          },
          "authCode": {
            "type": "string",
            "description": "One-time auth code required for the MFA callback step"
          }
        },
        "required": [
          "mfaRequired",
          "mfaMethod",
          "authCode"
        ]
      },
      "TokenCreator": {
        "type": "object",
        "properties": {
          "creatorAddress": {
            "type": "string",
            "description": "Public key of the creator"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "metadata": {
            "type": "object",
            "description": "Additional creator metadata"
          }
        }
      },
      "TokenLaunchCreatorV2": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Bags username of the creator (might be a shortened version of the wallet address if no bags user is linked)"
          },
          "pfp": {
            "type": "string",
            "description": "Profile picture URL of the creator (might be a default pfp image if no bags user is linked)"
          },
          "twitterUsername": {
            "type": "string",
            "nullable": true,
            "description": "Twitter username of the creator, null if not available"
          },
          "royaltyBps": {
            "type": "number",
            "description": "Royalty in basis points"
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether this user is the token creator"
          },
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet"
          }
        }
      },
      "TokenLaunchCreatorV3": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Bags username of the creator (internal; may be a shortened wallet if no Bags user is linked). Prefer using providerUsername for display when provider exists."
          },
          "pfp": {
            "type": "string",
            "description": "Profile picture URL of the creator (may be a default image if no Bags user is linked)"
          },
          "royaltyBps": {
            "type": "number",
            "description": "Royalty in basis points"
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether this user is the token creator"
          },
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet"
          },
          "provider": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SocialProvider"
              },
              {
                "type": "string",
                "enum": [
                  "unknown"
                ]
              }
            ],
            "nullable": true,
            "description": "Social/auth provider for the associated account. Use this to render a platform logo. May be 'unknown' or null when not available."
          },
          "providerUsername": {
            "type": "string",
            "nullable": true,
            "description": "Username/handle on the social provider. Prefer this for display when present; 'username' is Bags internal."
          },
          "twitterUsername": {
            "type": "string",
            "description": "Twitter/X username of the creator, if available"
          },
          "bagsUsername": {
            "type": "string",
            "description": "Bags platform username of the creator, if available"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Whether this user is an admin of the token launch"
          }
        }
      },
      "TokenLaunchCreatorV3WithClaimStats": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Bags username of the creator (internal; may be a shortened wallet if no Bags user is linked)"
          },
          "pfp": {
            "type": "string",
            "description": "Profile picture URL of the creator"
          },
          "royaltyBps": {
            "type": "number",
            "description": "Royalty in basis points"
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether this user is the token creator"
          },
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet"
          },
          "provider": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SocialProvider"
              },
              {
                "type": "string",
                "enum": [
                  "unknown"
                ]
              }
            ],
            "nullable": true,
            "description": "Social/auth provider for the associated account"
          },
          "providerUsername": {
            "type": "string",
            "nullable": true,
            "description": "Username/handle on the social provider"
          },
          "twitterUsername": {
            "type": "string",
            "description": "Twitter/X username of the creator, if available (optional)"
          },
          "bagsUsername": {
            "type": "string",
            "description": "Bags platform username of the creator, if available (optional)"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Whether this user is an admin of the token launch (optional)"
          },
          "totalClaimed": {
            "type": "string",
            "description": "Total fees claimed by this user (as string to support bigint)"
          }
        },
        "required": [
          "username",
          "pfp",
          "royaltyBps",
          "isCreator",
          "wallet",
          "totalClaimed"
        ]
      },
      "TokenClaimEvent": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet that claimed fees"
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether this wallet is the token creator"
          },
          "amount": {
            "type": "string",
            "description": "Amount claimed in lamports (as string to support bigint)"
          },
          "signature": {
            "type": "string",
            "description": "Transaction signature of the claim"
          },
          "timestamp": {
            "type": "string",
            "description": "ISO 8601 timestamp of the claim event"
          }
        },
        "required": [
          "wallet",
          "isCreator",
          "amount",
          "signature",
          "timestamp"
        ]
      },
      "TokenClaimEventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenClaimEvent"
            },
            "description": "Array of claim events"
          }
        },
        "required": [
          "events"
        ]
      },
      "GetTokenClaimEventsErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false,
            "enum": [
              false
            ]
          },
          "response": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "success",
          "response"
        ]
      },
      "TokenClaimAmount": {
        "type": "object",
        "properties": {
          "mint": {
            "type": "string",
            "description": "Mint the amount is denominated in. Wrapped SOL for bonding-curve and fee-share v2 claims, the pool's quote mint for DAMM v2 direct custody claims"
          },
          "decimals": {
            "type": "number",
            "description": "Decimals of the claimed mint (wrapped SOL is 9)"
          },
          "amount": {
            "type": "string",
            "description": "Amount claimed in the mint's base units (as string to support bigint)"
          },
          "amountUsd": {
            "type": "number",
            "nullable": true,
            "description": "USD value of the amount at read time, or null when no price is available for the mint"
          }
        },
        "required": [
          "mint",
          "decimals",
          "amount",
          "amountUsd"
        ]
      },
      "TokenClaimStatsV4User": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Bags username of the claimer (may be a shortened wallet if no Bags user is linked)"
          },
          "pfp": {
            "type": "string",
            "description": "Profile picture URL of the claimer"
          },
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet"
          },
          "provider": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SocialProvider"
              },
              {
                "type": "string",
                "enum": [
                  "unknown"
                ]
              }
            ],
            "nullable": true,
            "description": "Social/auth provider for the associated account"
          },
          "providerUsername": {
            "type": "string",
            "nullable": true,
            "description": "Username/handle on the social provider"
          },
          "twitterUsername": {
            "type": "string",
            "description": "Twitter/X username of the claimer, if available (optional)"
          },
          "bagsUsername": {
            "type": "string",
            "description": "Bags platform username of the claimer, if available (optional)"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Whether this user is an admin of the token launch (optional)"
          }
        },
        "required": [
          "username",
          "pfp",
          "wallet"
        ]
      },
      "TokenClaimStatsV4": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet that claimed"
          },
          "tokenMint": {
            "type": "string",
            "description": "Public key of the token mint the claims belong to"
          },
          "claims": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TokenClaimAmount"
            },
            "description": "One entry per claimed mint, sorted by amountUsd descending with unpriced entries last"
          },
          "totalClaimedUsd": {
            "type": "number",
            "nullable": true,
            "description": "Sum of the USD values in claims, or null when any claimed mint has no price available"
          },
          "user": {
            "$ref": "#/components/schemas/TokenClaimStatsV4User",
            "description": "Claimer profile, present only when includeUser is true and the wallet resolves to a user (optional)"
          }
        },
        "required": [
          "wallet",
          "tokenMint",
          "claims",
          "totalClaimedUsd"
        ]
      },
      "GlobalClaimEventV2": {
        "type": "object",
        "properties": {
          "tokenMint": {
            "type": "string",
            "description": "Public key of the token the fees were claimed on"
          },
          "user": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/TokenLaunchCreatorV3"
              }
            ],
            "nullable": true,
            "description": "Profile of the claiming wallet, or null when the wallet is not a known creator or claimer for the token"
          },
          "wallet": {
            "type": "string",
            "description": "Public key of the wallet that claimed"
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether this wallet is the token creator"
          },
          "amount": {
            "type": "string",
            "description": "Amount claimed in the base units of `mint` (as string to support bigint)"
          },
          "mint": {
            "type": "string",
            "description": "Mint the amount is denominated in. Wrapped SOL for bonding-curve and fee-share v2 claims, the pool's quote mint for DAMM v2 direct custody claims"
          },
          "decimals": {
            "type": "number",
            "description": "Decimals of the claimed mint (wrapped SOL is 9)"
          },
          "amountUsd": {
            "type": "number",
            "nullable": true,
            "description": "USD value of the amount at read time, or null when no price is available for the mint"
          },
          "signature": {
            "type": "string",
            "description": "Transaction signature of the claim"
          },
          "timestamp": {
            "type": "number",
            "description": "Unix timestamp of the claim, in seconds. Pass the last event's value as `before` to page backwards"
          },
          "isFirstClaim": {
            "type": "boolean",
            "description": "Whether this is the wallet's first claim on this token, across all three claim sources"
          },
          "preMigrationPool": {
            "type": "string",
            "nullable": true,
            "description": "Bonding curve pool the token traded on before migration, when known"
          },
          "postMigrationPool": {
            "type": "string",
            "nullable": true,
            "description": "Pool the token trades on after migration, when known"
          },
          "isForceClaim": {
            "type": "boolean",
            "description": "Whether the claim was forced rather than initiated by the wallet. Always false on this feed, which excludes forced claims"
          },
          "forceClaimType": {
            "type": "string",
            "enum": [
              "Unknown",
              "Admin",
              "Manager"
            ],
            "nullable": true,
            "description": "Who executed a forced claim, or null when the claim was not forced. Forced custody claims have no on-chain executor type and resolve to 'Unknown'"
          }
        },
        "required": [
          "tokenMint",
          "user",
          "wallet",
          "isCreator",
          "amount",
          "mint",
          "decimals",
          "amountUsd",
          "signature",
          "timestamp",
          "isFirstClaim",
          "preMigrationPool",
          "postMigrationPool",
          "isForceClaim",
          "forceClaimType"
        ]
      },
      "GlobalClaimFeedV2Response": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalClaimEventV2"
            },
            "description": "Claim events ordered by timestamp descending"
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether more events exist before the last returned event"
          }
        },
        "required": [
          "events",
          "hasMore"
        ]
      },
      "AuthMeTwitterData": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "description": "Whether the linked Twitter/X account is verified"
          },
          "followers_count": {
            "type": "integer",
            "description": "Number of followers on the linked Twitter/X account"
          },
          "following_count": {
            "type": "integer",
            "description": "Number of accounts followed on the linked Twitter/X account"
          },
          "created_at": {
            "type": "string",
            "description": "Twitter/X account creation date"
          },
          "url": {
            "type": "string",
            "description": "URL associated with the Twitter/X profile"
          }
        },
        "required": [
          "verified",
          "followers_count",
          "following_count",
          "created_at",
          "url"
        ]
      },
      "AuthMeUser": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "Unique identifier for the user"
          },
          "type": {
            "type": "string",
            "description": "Account type"
          },
          "membership": {
            "type": "object",
            "description": "Membership details for the user"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol associated with the user"
          },
          "username": {
            "type": "string",
            "description": "Unique username"
          },
          "status": {
            "type": "string",
            "description": "Account status (e.g. active)"
          },
          "pref_name": {
            "type": "string",
            "description": "Display name chosen by the user"
          },
          "picture": {
            "type": "string",
            "description": "URL of the user's profile picture"
          },
          "twitter_userID": {
            "type": "string",
            "description": "Linked Twitter/X user ID"
          },
          "registered_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp of when the user registered"
          },
          "profile_views": {
            "type": "integer",
            "description": "Total number of profile views"
          },
          "invites": {
            "type": "integer",
            "description": "Number of available invites"
          },
          "invited_by": {
            "type": "string",
            "description": "Identifier of the user who sent the invite"
          },
          "twitter_data": {
            "$ref": "#/components/schemas/AuthMeTwitterData",
            "description": "Twitter/X profile data for the linked account"
          },
          "points": {
            "type": "integer",
            "description": "Accumulated reward points"
          },
          "rank": {
            "type": "integer",
            "description": "User's global rank"
          },
          "referral_count": {
            "type": "integer",
            "description": "Number of successful referrals"
          }
        },
        "required": [
          "uuid",
          "type",
          "membership",
          "ticker",
          "username",
          "status",
          "pref_name",
          "picture",
          "twitter_userID",
          "registered_at",
          "profile_views",
          "invites",
          "invited_by",
          "twitter_data",
          "points",
          "rank",
          "referral_count"
        ]
      },
      "AuthMeResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/AuthMeUser",
            "description": "User information associated with the API key"
          }
        },
        "required": [
          "user"
        ]
      },
      "ClaimTransactionResult": {
        "type": "object",
        "properties": {
          "tx": {
            "type": "string",
            "description": "Base58 encoded serialized transaction"
          },
          "blockhash": {
            "$ref": "#/components/schemas/BlockhashWithExpiryBlockHeight"
          }
        },
        "required": [
          "tx",
          "blockhash"
        ]
      },
      "DammPositionInfo": {
        "type": "object",
        "properties": {
          "position": {
            "type": "string",
            "description": "DAMM v2 position public key"
          },
          "pool": {
            "type": "string",
            "description": "DAMM v2 pool public key"
          },
          "positionNftAccount": {
            "type": "string",
            "description": "Position NFT account public key"
          },
          "tokenAMint": {
            "type": "string",
            "description": "Token A mint public key"
          },
          "tokenBMint": {
            "type": "string",
            "description": "Token B mint public key"
          },
          "tokenAVault": {
            "type": "string",
            "description": "Token A vault public key"
          },
          "tokenBVault": {
            "type": "string",
            "description": "Token B vault public key"
          }
        }
      },
      "ClaimablePosition": {
        "type": "object",
        "description": "Represents a claimable fee position. Structure varies based on fee share program version.",
        "properties": {
          "programId": {
            "type": "string",
            "description": "Fee share program ID (v1 or v2)"
          },
          "isCustomFeeVault": {
            "type": "boolean",
            "description": "Whether this position uses a custom fee vault"
          },
          "baseMint": {
            "type": "string",
            "description": "Base token mint public key"
          },
          "quoteMint": {
            "type": "string",
            "description": "Quote token mint public key (for v2)",
            "nullable": true
          },
          "virtualPool": {
            "type": "string",
            "description": "Virtual pool address"
          },
          "virtualPoolAddress": {
            "type": "string",
            "description": "Virtual pool address (alternative field name)",
            "nullable": true
          },
          "virtualPoolClaimableAmount": {
            "type": "number",
            "description": "Claimable amount from virtual pool (v1)",
            "nullable": true
          },
          "virtualPoolClaimableLamportsUserShare": {
            "type": "number",
            "description": "User's share of claimable lamports from virtual pool (v2)",
            "nullable": true
          },
          "dammPoolClaimableAmount": {
            "type": "number",
            "description": "Claimable amount from DAMM pool (v1)",
            "nullable": true
          },
          "dammPoolClaimableLamportsUserShare": {
            "type": "number",
            "description": "User's share of claimable lamports from DAMM pool (v2)",
            "nullable": true
          },
          "isMigrated": {
            "type": "boolean",
            "description": "Whether the pool has migrated to DAMM v2"
          },
          "dammPoolAddress": {
            "type": "string",
            "description": "DAMM pool address",
            "nullable": true
          },
          "dammPositionInfo": {
            "$ref": "#/components/schemas/DammPositionInfo",
            "nullable": true
          },
          "totalClaimableLamportsUserShare": {
            "type": "number",
            "description": "Total claimable lamports for the user"
          },
          "claimableDisplayAmount": {
            "type": "number",
            "description": "Human-readable claimable amount",
            "nullable": true
          },
          "user": {
            "type": "string",
            "description": "User wallet address (v2)",
            "nullable": true
          },
          "claimerIndex": {
            "type": "number",
            "description": "Index of the claimer in the config (v2)",
            "nullable": true
          },
          "userBps": {
            "type": "number",
            "description": "User's basis points allocation (v2)",
            "nullable": true
          },
          "customFeeVault": {
            "type": "string",
            "description": "Custom fee vault address (v1)",
            "nullable": true
          },
          "customFeeVaultClaimerA": {
            "type": "string",
            "description": "Custom fee vault claimer A (v1)",
            "nullable": true
          },
          "customFeeVaultClaimerB": {
            "type": "string",
            "description": "Custom fee vault claimer B (v1)",
            "nullable": true
          },
          "customFeeVaultClaimerSide": {
            "type": "string",
            "enum": [
              "A",
              "B"
            ],
            "description": "Which side of the custom fee vault the user is on (v1)",
            "nullable": true
          }
        },
        "required": [
          "isCustomFeeVault",
          "baseMint",
          "isMigrated",
          "totalClaimableLamportsUserShare"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "success",
          "error"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "response": {
            "description": ""
          }
        },
        "required": [
          "success"
        ]
      },
      "BlockhashWithExpiryBlockHeight": {
        "type": "object",
        "properties": {
          "blockhash": {
            "type": "string",
            "description": "Recent blockhash for the transaction"
          },
          "lastValidBlockHeight": {
            "type": "number",
            "description": "The last block height for which the blockhash is valid"
          }
        },
        "required": [
          "blockhash",
          "lastValidBlockHeight"
        ]
      },
      "TransactionWithBlockhash": {
        "type": "object",
        "properties": {
          "blockhash": {
            "$ref": "#/components/schemas/BlockhashWithExpiryBlockHeight"
          },
          "transaction": {
            "type": "string",
            "description": "Base58 encoded serialized versioned transaction"
          }
        },
        "required": [
          "blockhash",
          "transaction"
        ]
      },
      "DexscreenerLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the link"
          },
          "label": {
            "type": "string",
            "maxLength": 100,
            "description": "Optional display label for the link"
          }
        },
        "required": [
          "url"
        ]
      },
      "CreateDexscreenerOrderRequest": {
        "type": "object",
        "properties": {
          "tokenAddress": {
            "type": "string",
            "description": "Solana public key of the token"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000,
            "description": "Token description for the Dexscreener listing"
          },
          "iconImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the icon image"
          },
          "headerImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the header image"
          },
          "payerWallet": {
            "type": "string",
            "description": "Solana public key of the payer wallet"
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DexscreenerLink"
            },
            "description": "Optional array of links to display on the listing"
          },
          "payWithSol": {
            "type": "boolean",
            "default": false,
            "description": "Whether to pay with SOL instead of USDC"
          }
        },
        "required": [
          "tokenAddress",
          "description",
          "iconImageUrl",
          "headerImageUrl",
          "payerWallet"
        ]
      },
      "CreateDexscreenerOrderResponse": {
        "type": "object",
        "properties": {
          "orderUUID": {
            "type": "string",
            "description": "Unique identifier for the created order"
          },
          "recipientWallet": {
            "type": "string",
            "description": "Solana public key of the treasury wallet to send payment to"
          },
          "priceUSDC": {
            "type": "number",
            "description": "Price of the order in USDC"
          },
          "transaction": {
            "type": "string",
            "description": "Base58 encoded serialized payment transaction"
          },
          "lastValidBlockHeight": {
            "type": "number",
            "description": "Last valid block height for the transaction"
          }
        },
        "required": [
          "orderUUID",
          "recipientWallet",
          "priceUSDC",
          "transaction",
          "lastValidBlockHeight"
        ]
      },
      "SubmitDexscreenerPaymentRequest": {
        "type": "object",
        "properties": {
          "orderUUID": {
            "type": "string",
            "minLength": 1,
            "description": "UUID of the order to submit payment for"
          },
          "paymentSignature": {
            "type": "string",
            "minLength": 1,
            "description": "Transaction signature of the payment"
          }
        },
        "required": [
          "orderUUID",
          "paymentSignature"
        ]
      },
      "EvmTokenCreator": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Bags username of the creator/claimer. Empty string when the wallet has no usable social provider (i.e. no linked Bags user)."
          },
          "pfp": {
            "type": "string",
            "description": "Profile image URL. Empty string when the wallet has no usable social provider."
          },
          "royaltyBps": {
            "type": "number",
            "description": "Share of the claimer pot in basis points (10000 = 100%). 0 for a creator who is not also a claimer."
          },
          "isCreator": {
            "type": "boolean",
            "description": "Whether this wallet launched the token."
          },
          "wallet": {
            "type": "string",
            "description": "EIP-55 checksummed EVM address of the creator/claimer."
          },
          "provider": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/SocialProvider"
              },
              {
                "type": "string",
                "enum": [
                  "unknown"
                ]
              }
            ],
            "nullable": true,
            "description": "Social/auth provider for the associated account (e.g. 'twitter'). Use this to render a platform logo. 'unknown' when the wallet is not linked to a Bags user, or null when unavailable."
          },
          "providerUsername": {
            "type": "string",
            "nullable": true,
            "description": "Username/handle on the connected social provider. null when unavailable."
          },
          "twitterUsername": {
            "type": "string",
            "description": "Twitter/X username. Optional; present only when provider is 'twitter'."
          },
          "bagsUsername": {
            "type": "string",
            "description": "Bags platform username. Optional; present only when a Bags username is available."
          }
        },
        "required": [
          "username",
          "pfp",
          "royaltyBps",
          "isCreator",
          "wallet"
        ]
      },
      "EvmTokenCreatorErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "response": {
            "type": "string",
            "description": "Error message describing why the request failed."
          }
        },
        "required": [
          "success",
          "response"
        ]
      },
      "SocialProvider": {
        "type": "string",
        "enum": [
          "apple",
          "google",
          "email",
          "solana",
          "twitter",
          "tiktok",
          "kick",
          "instagram",
          "onlyfans",
          "github",
          "moltbook"
        ],
        "example": "twitter",
        "description": "Supported social/auth providers"
      },
      "FeeShareWalletChain": {
        "type": "string",
        "enum": [
          "SOL",
          "EVM"
        ],
        "default": "SOL",
        "description": "Blockchain to resolve the wallet on. `SOL` returns the user's Solana embedded wallet (base58). `EVM` returns the user's Ethereum embedded wallet from Privy (`0x…`). Defaults to `SOL` when omitted. The `solana` provider only supports `SOL`."
      },
      "SocialProviderUserData": {
        "type": "object",
        "description": "Generic user data structure that works across different OAuth providers",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the user on the provider platform"
          },
          "username": {
            "type": "string",
            "description": "Username/handle on the provider platform"
          },
          "display_name": {
            "type": "string",
            "description": "Display name of the user on the provider platform"
          },
          "avatar_url": {
            "type": "string",
            "description": "Profile picture URL of the user on the provider platform"
          }
        },
        "additionalProperties": true,
        "required": [
          "id",
          "username",
          "display_name",
          "avatar_url"
        ]
      },
      "GetFeeShareWalletV2SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "response": {
            "type": "object",
            "properties": {
              "provider": {
                "$ref": "#/components/schemas/SocialProvider"
              },
              "platformData": {
                "$ref": "#/components/schemas/SocialProviderUserData"
              },
              "wallet": {
                "type": "string",
                "description": "Address of the resolved wallet. Format depends on `chain`: base58 for `SOL`, `0x…` for `EVM`."
              },
              "chain": {
                "$ref": "#/components/schemas/FeeShareWalletChain"
              }
            },
            "required": [
              "provider",
              "platformData",
              "wallet",
              "chain"
            ]
          }
        },
        "required": [
          "success",
          "response"
        ]
      },
      "GetFeeShareWalletV2ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false,
            "enum": [
              false
            ]
          },
          "response": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": [
          "success",
          "response"
        ]
      },
      "GetFeeShareWalletV2BulkResultItem": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "Username/handle on the provider platform (normalized to lowercase; leading @ removed if provided)"
          },
          "provider": {
            "$ref": "#/components/schemas/SocialProvider"
          },
          "platformData": {
            "$ref": "#/components/schemas/SocialProviderUserData"
          },
          "wallet": {
            "type": "string",
            "nullable": true,
            "description": "Address of the resolved wallet, or null if not found. Format depends on `chain`: base58 for `SOL`, `0x…` for `EVM`."
          },
          "chain": {
            "$ref": "#/components/schemas/FeeShareWalletChain"
          }
        },
        "required": [
          "username",
          "provider",
          "platformData",
          "wallet",
          "chain"
        ],
        "additionalProperties": false
      },
      "GetFeeShareWalletV2BulkSuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "response": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetFeeShareWalletV2BulkResultItem"
            },
            "description": "Per-item results matching the input order"
          }
        },
        "required": [
          "success",
          "response"
        ]
      },
      "GetFeeShareWalletV2BulkRequest": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100,
                  "description": "Username/handle on the provider platform. Input is normalized to lowercase; leading @ is removed if present."
                },
                "provider": {
                  "$ref": "#/components/schemas/SocialProvider"
                },
                "chain": {
                  "$ref": "#/components/schemas/FeeShareWalletChain"
                }
              },
              "required": [
                "username",
                "provider"
              ],
              "additionalProperties": false
            },
            "description": "Array of lookups (1-100). Duplicate username+provider+chain combinations are not allowed. The same username+provider may appear once per chain (once for SOL, once for EVM)."
          }
        },
        "required": [
          "items"
        ],
        "additionalProperties": false
      },
      "MeteoraConfigType": {
        "type": "string",
        "enum": [
          "fa29606e-5e48-4c37-827f-4b03d58ee23d",
          "d16d3585-6488-4a6c-9a6f-e6c39ca0fda3",
          "a7c8e1f2-3d4b-5a6c-9e0f-1b2c3d4e5f6a",
          "48e26d2f-0a9d-4625-a3cc-c3987d874b9e",
          "810faadb-030b-47de-a68b-7211c1cbbee3",
          "e2963a6c-441a-4862-9d80-b94e3a481cd7",
          "ba28db46-ea6f-4452-8218-5587f6aca0a1"
        ],
        "default": "fa29606e-5e48-4c37-827f-4b03d58ee23d",
        "description": "Bags config type that determines the token's fee structure.\n\n- `fa29606e-5e48-4c37-827f-4b03d58ee23d` (Default): 2% fees both pre and post migration, with 25% fee compounding post-migration. Graduates at ~85 SOL.\n- `d16d3585-6488-4a6c-9a6f-e6c39ca0fda3`: 0.25% fees pre-migration, 1% post-migration, with 50% fee compounding post-migration. Graduates at ~85 SOL.\n- `a7c8e1f2-3d4b-5a6c-9e0f-1b2c3d4e5f6a`: 1% fees pre-migration, 0.25% post-migration, with 50% fee compounding post-migration. Graduates at ~85 SOL.\n- `48e26d2f-0a9d-4625-a3cc-c3987d874b9e`: 10% fees both pre and post migration, with 50% fee compounding post-migration. Graduates at ~85 SOL.\n- `810faadb-030b-47de-a68b-7211c1cbbee3` (2% Flat, 85% Locked): 2% fees both pre and post migration, with 25% fee compounding post-migration. 85% of token supply is locked. Graduates at ~100 SOL.\n- `e2963a6c-441a-4862-9d80-b94e3a481cd7` (Default, 1K Supply): Same as Default (2% fees pre and post migration, 25% fee compounding post-migration) but with a 1,000 token supply. Graduates at ~85 SOL.\n- `ba28db46-ea6f-4452-8218-5587f6aca0a1` (2% Base, 96% Locked): 2% base fee pre-migration, with 25% fee compounding post-migration. 96% of token supply is locked. Post-migration the fee is market-cap based, starting at 2% and decaying to a 0.5% floor as the token's market cap grows (~25x graduation market cap). Graduates at ~55 SOL."
      },
      "FeeShareConfigV2Response": {
        "type": "object",
        "properties": {
          "needsCreation": {
            "type": "boolean",
            "description": "Whether the config needs to be created (true) or already exists (false)"
          },
          "feeShareAuthority": {
            "type": "string",
            "description": "Public key of the fee share authority"
          },
          "meteoraConfigKey": {
            "type": "string",
            "description": "Public key of the Meteora config key"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionWithBlockhash"
            },
            "description": "Array of transactions with blockhash to be signed and sent in order",
            "nullable": true
          },
          "bundles": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransactionWithBlockhash"
              }
            },
            "description": "Optional array of transaction bundles (arrays of transactions that should be sent together)",
            "nullable": true
          }
        },
        "required": [
          "needsCreation",
          "feeShareAuthority",
          "meteoraConfigKey"
        ]
      },
      "LookupTableTransactionsResponse": {
        "type": "object",
        "properties": {
          "creationTransaction": {
            "type": "string",
            "description": "Base58 encoded serialized transaction for creating the lookup table"
          },
          "extendTransactions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Base58 encoded serialized transaction for extending the lookup table"
            },
            "description": "Array of extend transactions to be executed after waiting one slot"
          },
          "lutAddresses": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Public key of the lookup table address"
            },
            "description": "Array of lookup table addresses that were created"
          }
        },
        "required": [
          "creationTransaction",
          "extendTransactions",
          "lutAddresses"
        ]
      },
      "FeeShareAdminListResponse": {
        "type": "object",
        "properties": {
          "tokenMints": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of token mint public keys where the wallet is the fee share admin"
          }
        },
        "required": [
          "tokenMints"
        ]
      },
      "FeeShareAdminTransferTxRequest": {
        "type": "object",
        "properties": {
          "baseMint": {
            "type": "string",
            "description": "Public key of the base mint"
          },
          "currentAdmin": {
            "type": "string",
            "description": "Public key of the current fee share admin"
          },
          "newAdmin": {
            "type": "string",
            "description": "Public key of the new fee share admin"
          },
          "payer": {
            "type": "string",
            "description": "Public key of the payer wallet"
          }
        },
        "required": [
          "baseMint",
          "currentAdmin",
          "newAdmin",
          "payer"
        ],
        "additionalProperties": false
      },
      "FeeShareAdminUpdateConfigRequest": {
        "type": "object",
        "properties": {
          "baseMint": {
            "type": "string",
            "description": "Public key of the base mint"
          },
          "basisPointsArray": {
            "type": "array",
            "items": {
              "type": "number",
              "minimum": 0,
              "maximum": 10000,
              "description": "Basis points allocated to the corresponding claimer"
            },
            "description": "Array of basis points for each fee claimer. Must align with claimersArray. Total must equal 10,000.",
            "minItems": 1,
            "maxItems": 100
          },
          "claimersArray": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Public key of a fee claimer wallet"
            },
            "description": "Array of fee claimer wallet public keys. Must align with basisPointsArray. Maximum 100, no duplicates.",
            "minItems": 1,
            "maxItems": 100
          },
          "payer": {
            "type": "string",
            "description": "Public key of the payer wallet"
          },
          "additionalLookupTables": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Public key of a lookup table address"
            },
            "description": "Optional array of lookup table addresses. Required when there are more than 7 fee claimers.",
            "nullable": true
          }
        },
        "required": [
          "baseMint",
          "basisPointsArray",
          "claimersArray",
          "payer"
        ],
        "additionalProperties": false
      },
      "PartnerConfigResponse": {
        "type": "object",
        "properties": {
          "partner": {
            "type": "string",
            "description": "Public key of the partner wallet"
          },
          "bps": {
            "type": "number",
            "description": "Basis points allocated to the partner"
          },
          "totalClaimedFees": {
            "type": "string",
            "description": "Total fees claimed by the partner (as string to support bigint)"
          },
          "totalAccumulatedFees": {
            "type": "string",
            "description": "Total fees accumulated by the partner (as string to support bigint)"
          }
        },
        "required": [
          "partner",
          "bps",
          "totalClaimedFees",
          "totalAccumulatedFees"
        ]
      },
      "PartnerClaimStatsResponse": {
        "type": "object",
        "properties": {
          "claimedFees": {
            "type": "string",
            "description": "Total claimed fees in lamports (as string to support bigint)"
          },
          "unclaimedFees": {
            "type": "string",
            "description": "Total unclaimed fees in lamports (as string to support bigint)"
          }
        },
        "required": [
          "claimedFees",
          "unclaimedFees"
        ]
      },
      "PartnerClaimTransactionsResponse": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Base58 encoded serialized transaction"
            },
            "description": "Array of transactions to be signed and sent in order"
          },
          "blockhash": {
            "$ref": "#/components/schemas/BlockhashWithExpiryBlockHeight"
          }
        },
        "required": [
          "transactions",
          "blockhash"
        ]
      },
      "RhErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "response": {
            "type": "string",
            "description": "Error message describing why the request failed."
          }
        },
        "required": [
          "success",
          "response"
        ]
      },
      "RhTokenMetadata": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "nullable": true,
            "description": "Resolved token image URL. Null when the metadata URI could not be resolved."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Resolved token description. Null when the metadata URI could not be resolved."
          }
        },
        "required": [
          "image",
          "description"
        ]
      },
      "RhToken": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "EIP-55 checksummed token address."
          },
          "name": {
            "type": "string",
            "description": "Token name."
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol."
          },
          "metadataURI": {
            "type": "string",
            "description": "Token metadata URI as stored on-chain (typically IPFS)."
          },
          "metadata": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RhTokenMetadata"
              }
            ],
            "nullable": true,
            "description": "Backend-resolved metadata (image, description). Null when resolution failed or is still pending."
          },
          "curve": {
            "type": "string",
            "description": "Address of the token's bonding curve contract."
          },
          "feeShare": {
            "type": "string",
            "description": "Address of the token's fee-share contract."
          },
          "poolId": {
            "type": "string",
            "description": "Uniswap V4 pool ID (bytes32 hex string) assigned at launch."
          },
          "creator": {
            "type": "string",
            "description": "EIP-55 checksummed address of the token creator."
          },
          "partner": {
            "type": "string",
            "nullable": true,
            "description": "EIP-55 checksummed partner address. Null when the token was launched without a partner."
          },
          "partnerFeeBps": {
            "type": "number",
            "description": "Partner's share of the creator-side fee half in basis points, snapshotted at launch."
          },
          "createdAtBlock": {
            "type": "number",
            "description": "Block number of the launch transaction."
          },
          "createdAtTimestamp": {
            "type": "number",
            "description": "Launch time as unix seconds."
          },
          "txHash": {
            "type": "string",
            "description": "Transaction hash of the launch."
          },
          "migrated": {
            "type": "boolean",
            "description": "Whether the token has graduated from the bonding curve to its Uniswap V4 pool."
          },
          "migratedAtBlock": {
            "type": "number",
            "nullable": true,
            "description": "Block number of the migration. Null while the token is still bonding."
          },
          "migratedAtTimestamp": {
            "type": "number",
            "nullable": true,
            "description": "Migration time as unix seconds. Null while the token is still bonding."
          }
        },
        "required": [
          "address",
          "name",
          "symbol",
          "metadataURI",
          "metadata",
          "curve",
          "feeShare",
          "poolId",
          "creator",
          "partner",
          "partnerFeeBps",
          "createdAtBlock",
          "createdAtTimestamp",
          "txHash",
          "migrated",
          "migratedAtBlock",
          "migratedAtTimestamp"
        ]
      },
      "RhTokenListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RhToken"
          },
          {
            "type": "object",
            "properties": {
              "priceEthPerToken": {
                "type": "string",
                "nullable": true,
                "description": "Live spot price as an 1e18 fixed-point decimal string (ETH per whole token). For migrated tokens this comes from the pool (slot0) only — null when the pool read is unavailable. Render null as \"unavailable\", never 0."
              },
              "bondingProgressPct": {
                "type": "number",
                "description": "Bonding-curve graduation progress, 0-99 while bonding and 100 once migrated."
              }
            },
            "required": [
              "priceEthPerToken",
              "bondingProgressPct"
            ]
          }
        ]
      },
      "RhTokensResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhTokenListItem"
            },
            "description": "Page of tokens with live price and bonding-progress enrichment."
          },
          "total": {
            "type": "number",
            "description": "Total tokens matching the filter. Bounded by an internal count-scan cap (10k): when `totalTruncated` is true this is a lower bound, not the exact total."
          },
          "totalTruncated": {
            "type": "boolean",
            "description": "True when the count scan hit its safety bound before exhausting the matching set. Treat `total` as a lower bound and keep paging until `items` comes back short instead of using `total` to conclude pagination is exhausted."
          }
        },
        "required": [
          "items",
          "total",
          "totalTruncated"
        ]
      },
      "RhTopVolumeItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RhTokenListItem"
          },
          {
            "type": "object",
            "properties": {
              "volumeEthWei": {
                "type": "string",
                "description": "Inferred lifetime trading volume in wei (ETH), derived from indexed gross trading fees at the protocol's fixed 2% fee rate. As string to support bigint."
              }
            },
            "required": [
              "volumeEthWei"
            ]
          }
        ]
      },
      "RhTopVolumeResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhTopVolumeItem"
            },
            "description": "Top 100 tokens ranked by lifetime volume, highest first."
          }
        },
        "required": [
          "items"
        ]
      },
      "RhTokenState": {
        "type": "object",
        "properties": {
          "exists": {
            "type": "boolean",
            "description": "Whether the address is a Bags V2 token."
          },
          "migrated": {
            "type": "boolean",
            "description": "Whether the token has graduated from the bonding curve to its Uniswap V4 pool."
          },
          "curve": {
            "type": "string",
            "description": "Address of the token's bonding curve contract."
          },
          "feeShare": {
            "type": "string",
            "description": "Address of the token's fee-share contract."
          },
          "poolId": {
            "type": "string",
            "description": "Uniswap V4 pool ID (bytes32 hex string)."
          },
          "thresholdQuoteWei": {
            "type": "string",
            "description": "ETH (wei) needed to graduate, as string to support bigint."
          },
          "realQuoteReservesWei": {
            "type": "string",
            "description": "Real ETH reserves currently held by the curve (wei), as string to support bigint."
          },
          "realTokenReservesWei": {
            "type": "string",
            "description": "Tokens left on the curve (base units), as string to support bigint."
          },
          "virtualTokenReservesWei": {
            "type": "string",
            "description": "Virtual token reserve used by the curve math (base units), as string to support bigint."
          },
          "virtualQuoteReservesWei": {
            "type": "string",
            "description": "Virtual ETH reserve used by the curve math (wei), as string to support bigint."
          },
          "priceEthPerToken": {
            "type": "string",
            "nullable": true,
            "description": "Live spot price as an 1e18 fixed-point decimal string (ETH per whole token). Null for migrated tokens when the pool read is unavailable — render as \"unavailable\", never 0."
          },
          "bondingProgressPct": {
            "type": "number",
            "description": "Bonding-curve graduation progress, 0-99 while bonding and 100 once migrated."
          },
          "totalRaisedWei": {
            "type": "string",
            "description": "Cumulative ETH raised into the curve over its lifetime (wei), measured against `thresholdQuoteWei`, as string to support bigint."
          }
        },
        "required": [
          "exists",
          "migrated",
          "curve",
          "feeShare",
          "poolId",
          "thresholdQuoteWei",
          "realQuoteReservesWei",
          "realTokenReservesWei",
          "virtualTokenReservesWei",
          "virtualQuoteReservesWei",
          "priceEthPerToken",
          "bondingProgressPct",
          "totalRaisedWei"
        ]
      },
      "RhTokenResponse": {
        "type": "object",
        "properties": {
          "token": {
            "$ref": "#/components/schemas/RhToken"
          },
          "state": {
            "$ref": "#/components/schemas/RhTokenState"
          }
        },
        "required": [
          "token",
          "state"
        ]
      },
      "RhTokenCreationsResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhToken"
            },
            "description": "Recently launched V2 tokens, newest first."
          }
        },
        "required": [
          "items"
        ]
      },
      "RhTrade": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique trade ID (subgraph entity ID). Used as the `beforeId` cursor value."
          },
          "kind": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ],
            "description": "Trade direction."
          },
          "venue": {
            "type": "string",
            "enum": [
              "curve",
              "pool"
            ],
            "description": "Where the trade executed: the bonding curve (pre-migration) or the Uniswap V4 pool (post-migration)."
          },
          "account": {
            "type": "string",
            "description": "EIP-55 checksummed address of the trader."
          },
          "ethWei": {
            "type": "string",
            "description": "ETH leg of the trade in wei, as string to support bigint."
          },
          "tokenWei": {
            "type": "string",
            "description": "Token leg of the trade in token base units, as string to support bigint."
          },
          "priceEthPerToken": {
            "type": "string",
            "description": "Post-trade spot price as an 1e18 fixed-point decimal string (ETH per whole token) — not VWAP. For the execution price use `ethWei / tokenWei`."
          },
          "blockNumber": {
            "type": "number",
            "description": "Block number of the trade."
          },
          "timestamp": {
            "type": "number",
            "description": "Trade time as unix seconds."
          },
          "txHash": {
            "type": "string",
            "description": "Transaction hash of the trade."
          },
          "logIndex": {
            "type": "number",
            "description": "Log index of the trade event within the transaction."
          }
        },
        "required": [
          "id",
          "kind",
          "venue",
          "account",
          "ethWei",
          "tokenWei",
          "priceEthPerToken",
          "blockNumber",
          "timestamp",
          "txHash",
          "logIndex"
        ]
      },
      "RhTradesResponse": {
        "type": "object",
        "properties": {
          "trades": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhTrade"
            },
            "description": "Trades, newest first."
          },
          "nextBeforeTs": {
            "type": "number",
            "nullable": true,
            "description": "Cursor timestamp for the next (older) page — pass back as `beforeTs` together with `nextBeforeId`. Null when the history is exhausted."
          },
          "nextBeforeId": {
            "type": "string",
            "nullable": true,
            "description": "Cursor trade ID for the next (older) page — pass back as `beforeId` together with `nextBeforeTs`. Null when the history is exhausted."
          }
        },
        "required": [
          "trades",
          "nextBeforeTs",
          "nextBeforeId"
        ]
      },
      "RhTradeStats": {
        "type": "object",
        "properties": {
          "windowSecs": {
            "type": "number",
            "description": "Aggregation window in seconds."
          },
          "volumeEthWei": {
            "type": "string",
            "description": "Total ETH volume within the window (wei), as string to support bigint."
          },
          "txCount": {
            "type": "number",
            "description": "Total number of trades within the window."
          },
          "buyCount": {
            "type": "number",
            "description": "Number of buys within the window."
          },
          "sellCount": {
            "type": "number",
            "description": "Number of sells within the window."
          },
          "truncated": {
            "type": "boolean",
            "description": "True only in the pathological case where the window exceeded the ~500k-trade safety bound before being fully scanned; volume and counts are then a lower bound. False on the normal path."
          },
          "lastPriceEthPerToken": {
            "type": "string",
            "nullable": true,
            "description": "Spot price after the most recent trade, as an 1e18 fixed-point decimal string (ETH per whole token). Null when the token has no trades."
          },
          "lastTradeTimestamp": {
            "type": "number",
            "nullable": true,
            "description": "Unix-seconds timestamp of the most recent trade. Null when the token has no trades."
          }
        },
        "required": [
          "windowSecs",
          "volumeEthWei",
          "txCount",
          "buyCount",
          "sellCount",
          "truncated",
          "lastPriceEthPerToken",
          "lastTradeTimestamp"
        ]
      },
      "RhCreatorFees": {
        "type": "object",
        "properties": {
          "lifetimeCreatorFeesWei": {
            "type": "string",
            "description": "Lifetime notified creator-side fees (wei), summed from subgraph fee notifications, as string to support bigint."
          },
          "lifetimePartnerFeesWei": {
            "type": "string",
            "description": "Lifetime notified partner fees (wei), summed from subgraph fee notifications, as string to support bigint."
          },
          "pendingHookFeesWei": {
            "type": "string",
            "description": "Un-swept fee accrual currently sitting on the hook for this token's pool (wei), as string to support bigint. Lifetime earnings = notified sums + pending."
          }
        },
        "required": [
          "lifetimeCreatorFeesWei",
          "lifetimePartnerFeesWei",
          "pendingHookFeesWei"
        ]
      },
      "RhCreatorRosterRecipient": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "EIP-55 checksummed recipient address."
          },
          "bps": {
            "type": "number",
            "description": "Share in basis points: of the claimer pot for claimers, of the creator half for the partner."
          },
          "isPartner": {
            "type": "boolean",
            "description": "Whether this recipient is the token's partner."
          },
          "claimedWei": {
            "type": "string",
            "description": "Total already claimed by this recipient on this fee share (wei), as string to support bigint."
          },
          "claimableWei": {
            "type": "string",
            "description": "Live claimable amount for this recipient (wei), as string to support bigint."
          },
          "pendingWei": {
            "type": "string",
            "description": "This recipient's estimated share of the un-swept pending hook fees (wei), as string to support bigint."
          }
        },
        "required": [
          "address",
          "bps",
          "isPartner",
          "claimedWei",
          "claimableWei",
          "pendingWei"
        ]
      },
      "RhCreatorRoster": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "EIP-55 checksummed token address."
          },
          "feeShare": {
            "type": "string",
            "description": "Address of the token's fee-share contract."
          },
          "partner": {
            "type": "string",
            "nullable": true,
            "description": "EIP-55 checksummed partner address. Null when the token was launched without a partner."
          },
          "partnerFeeBps": {
            "type": "number",
            "description": "Partner's share of the creator-side fee half in basis points, snapshotted at launch."
          },
          "recipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhCreatorRosterRecipient"
            },
            "description": "Every fee-share recipient with claimed, claimable, and estimated pending amounts."
          }
        },
        "required": [
          "token",
          "feeShare",
          "partner",
          "partnerFeeBps",
          "recipients"
        ]
      },
      "RhCreatorEarnings": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "EIP-55 checksummed token address."
          },
          "user": {
            "type": "string",
            "description": "EIP-55 checksummed address of the queried user."
          },
          "isClaimer": {
            "type": "boolean",
            "description": "Whether the user is a fee-share claimer on this token."
          },
          "userBps": {
            "type": "number",
            "description": "The user's claimer share in basis points (0 if not a claimer)."
          },
          "partner": {
            "type": "string",
            "nullable": true,
            "description": "EIP-55 checksummed partner address. Null when the token was launched without a partner."
          },
          "isPartner": {
            "type": "boolean",
            "description": "Whether the user is the token's partner."
          },
          "claimableWei": {
            "type": "string",
            "description": "Live claimable amount for the user (wei), as string to support bigint."
          },
          "claimedWei": {
            "type": "string",
            "description": "Total already claimed by the user on this token (wei), as string to support bigint."
          },
          "pendingEstimateWei": {
            "type": "string",
            "description": "The user's estimated share of the un-swept pending hook fees (wei), as string to support bigint."
          }
        },
        "required": [
          "token",
          "user",
          "isClaimer",
          "userBps",
          "partner",
          "isPartner",
          "claimableWei",
          "claimedWei",
          "pendingEstimateWei"
        ]
      },
      "RhQuote": {
        "type": "object",
        "properties": {
          "side": {
            "type": "string",
            "enum": [
              "buy",
              "sell"
            ],
            "description": "Quote direction. Buy: ETH in, tokens out. Sell: tokens in, ETH out."
          },
          "venue": {
            "type": "string",
            "enum": [
              "curve",
              "pool"
            ],
            "description": "Where the quote was computed: the bonding curve (pre-migration) or the Uniswap V4 Quoter (post-migration)."
          },
          "amountInWei": {
            "type": "string",
            "description": "Input amount in wei / token base units, as string to support bigint."
          },
          "amountOutWei": {
            "type": "string",
            "description": "Expected output amount in wei / token base units, as string to support bigint."
          },
          "feeWei": {
            "type": "string",
            "nullable": true,
            "description": "Total fee taken by the venue for this quote (wei), as string to support bigint. Null when the venue does not report it (pool venue)."
          },
          "asOfBlock": {
            "type": "number",
            "description": "Block number the quote was computed against."
          }
        },
        "required": [
          "side",
          "venue",
          "amountInWei",
          "amountOutWei",
          "feeWei",
          "asOfBlock"
        ]
      },
      "RhPoolPrice": {
        "type": "object",
        "properties": {
          "priceEthPerToken": {
            "type": "string",
            "nullable": true,
            "description": "Live pool spot price as an 1e18 fixed-point decimal string (ETH per whole token), read from the pool's slot0. Null for non-migrated tokens or when the pool read is unavailable — render as \"unavailable\", never 0."
          }
        },
        "required": [
          "priceEthPerToken"
        ]
      },
      "RhBalances": {
        "type": "object",
        "properties": {
          "ethWei": {
            "type": "string",
            "description": "Native ETH balance of the owner (wei), as string to support bigint."
          },
          "wethWei": {
            "type": "string",
            "description": "WETH balance of the owner (wei), as string to support bigint."
          },
          "tokenWei": {
            "type": "string",
            "nullable": true,
            "description": "Token balance of the owner in token base units, as string to support bigint. Null when no `tokenAddress` was requested."
          }
        },
        "required": [
          "ethWei",
          "wethWei",
          "tokenWei"
        ]
      },
      "RhCreationFee": {
        "type": "object",
        "properties": {
          "creationFeeWei": {
            "type": "string",
            "description": "Current token creation fee on the V2 factory (wei), as string to support bigint."
          }
        },
        "required": [
          "creationFeeWei"
        ]
      },
      "RhPortfolioHolding": {
        "type": "object",
        "properties": {
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RhTokenListItem"
              }
            ],
            "description": "The held token with live price and bonding-progress enrichment."
          },
          "balanceWei": {
            "type": "string",
            "description": "The owner's token balance in token base units, as string to support bigint."
          }
        },
        "required": [
          "token",
          "balanceWei"
        ]
      },
      "RhPortfolioEarnings": {
        "type": "object",
        "properties": {
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RhToken"
              }
            ],
            "description": "A token the owner created, is partner on, or has claimed from."
          },
          "feeShare": {
            "type": "string",
            "description": "Address of the fee-share contract to claim against for this row."
          },
          "claimableWei": {
            "type": "string",
            "description": "The owner's currently claimable amount on this token (wei), as string to support bigint."
          },
          "lifetimeWei": {
            "type": "string",
            "description": "The owner's lifetime earnings on this token (wei) = already claimed + currently claimable, as string to support bigint. \"0\" for launches with no earnings yet (still listed)."
          }
        },
        "required": [
          "token",
          "feeShare",
          "claimableWei",
          "lifetimeWei"
        ]
      },
      "RhPortfolio": {
        "type": "object",
        "properties": {
          "holdings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhPortfolioHolding"
            },
            "description": "Tokens the owner has traded and still holds, with live enrichment and balance."
          },
          "earnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhPortfolioEarnings"
            },
            "description": "Every token the owner created, is partner on, or has claimed from — including launches with no earnings yet (`lifetimeWei` \"0\")."
          },
          "truncated": {
            "type": "boolean",
            "description": "True only when created/partner-token discovery hit the ~10k-token safety bound before exhausting the owner's tokens; `earnings` is then a subset, so surface \"some earnings may be missing\" rather than treating the list as complete. False on the normal path."
          }
        },
        "required": [
          "holdings",
          "earnings",
          "truncated"
        ]
      },
      "RhClaimablePosition": {
        "type": "object",
        "properties": {
          "token": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RhToken"
              }
            ],
            "description": "The token associated with this claimable fee position."
          },
          "feeShare": {
            "type": "string",
            "description": "EIP-55 checksummed fee-share contract address that receives the claim transaction."
          },
          "version": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "description": "Robinhood Chain protocol deployment used by the token."
          },
          "claimableWei": {
            "type": "string",
            "description": "Already-notified WETH that the owner can claim immediately, in wei as a string to support bigint."
          },
          "pendingWei": {
            "type": "string",
            "description": "Estimated owner share of hook fees that will be swept by the claim, in wei as a string to support bigint."
          },
          "actionableWei": {
            "type": "string",
            "description": "Sum of `claimableWei` and `pendingWei`, in wei as a string to support bigint. The pending component remains an estimate until the claim executes."
          },
          "claimedWei": {
            "type": "string",
            "description": "Total indexed fees already claimed by this owner from the fee-share contract, in wei as a string to support bigint."
          },
          "lifetimeWei": {
            "type": "string",
            "description": "Sum of `claimedWei` and `claimableWei`, in wei as a string to support bigint. Un-swept pending fees are excluded."
          },
          "isClaimer": {
            "type": "boolean",
            "description": "Whether the owner is a configured fee-share claimer for this token."
          },
          "isPartner": {
            "type": "boolean",
            "description": "Whether the owner is the token's partner."
          },
          "userBps": {
            "type": "number",
            "description": "The owner's current claimer allocation in basis points. Zero when the owner is not a claimer."
          }
        },
        "required": [
          "token",
          "feeShare",
          "version",
          "claimableWei",
          "pendingWei",
          "actionableWei",
          "claimedWei",
          "lifetimeWei",
          "isClaimer",
          "isPartner",
          "userBps"
        ]
      },
      "RhClaimablePositions": {
        "type": "object",
        "properties": {
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhClaimablePosition"
            },
            "description": "Claimable fee positions discovered for the owner."
          },
          "truncated": {
            "type": "boolean",
            "description": "True when any token-discovery stream reached its bounded scan limit, so `positions` may be incomplete."
          }
        },
        "required": [
          "positions",
          "truncated"
        ]
      },
      "RhClaimTransaction": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "EIP-55 checksummed fee-share contract address that receives the transaction."
          },
          "data": {
            "type": "string",
            "description": "ABI-encoded calldata for `BagsFeeShare.claim(true)`."
          },
          "value": {
            "type": "string",
            "enum": [
              "0"
            ],
            "description": "Native ETH value to attach to the transaction. Always `\"0\"`."
          },
          "from": {
            "type": "string",
            "description": "EIP-55 checksummed owner address that must sign and submit the transaction."
          },
          "chainId": {
            "type": "number",
            "enum": [
              4663
            ],
            "description": "Robinhood Chain ID. Always `4663`."
          }
        },
        "required": [
          "to",
          "data",
          "value",
          "from",
          "chainId"
        ]
      },
      "RhClaimTransactions": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "EIP-55 checksummed token address associated with the claim."
          },
          "feeShare": {
            "type": "string",
            "description": "EIP-55 checksummed fee-share contract address the claim targets."
          },
          "version": {
            "type": "string",
            "enum": [
              "v1",
              "v2"
            ],
            "description": "Robinhood Chain protocol deployment used by the token."
          },
          "claimableWei": {
            "type": "string",
            "description": "Already-notified WETH claimable before execution, in wei as a string to support bigint."
          },
          "pendingWei": {
            "type": "string",
            "description": "Estimated owner share of hook fees swept during execution, in wei as a string to support bigint."
          },
          "actionableWei": {
            "type": "string",
            "description": "Sum of `claimableWei` and estimated `pendingWei`, in wei as a string to support bigint."
          },
          "chainId": {
            "type": "number",
            "enum": [
              4663
            ],
            "description": "Robinhood Chain ID. Always `4663`."
          },
          "unwrap": {
            "type": "boolean",
            "enum": [
              true
            ],
            "description": "Whether claimed WETH is unwrapped to native ETH. Always `true`."
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhClaimTransaction"
            },
            "description": "Unsigned EVM transactions to sign and submit in array order, waiting for each receipt before sending the next."
          }
        },
        "required": [
          "token",
          "feeShare",
          "version",
          "claimableWei",
          "pendingWei",
          "actionableWei",
          "chainId",
          "unwrap",
          "transactions"
        ]
      },
      "RhIndexTokenStatus": {
        "type": "object",
        "properties": {
          "tokenAddress": {
            "type": "string",
            "description": "Token address in EIP-55 checksum form."
          },
          "isIndexToken": {
            "type": "boolean",
            "description": "True when the token has been initialized as an index token."
          },
          "tokens": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Basket token addresses the index token buys and distributes. Empty when `isIndexToken` is false."
          }
        },
        "required": [
          "tokenAddress",
          "isIndexToken",
          "tokens"
        ]
      },
      "RhIndexTokenHistoryClaim": {
        "type": "object",
        "properties": {
          "txHash": {
            "type": "string",
            "nullable": true,
            "description": "Transaction hash of the fee claim, or null when not available."
          },
          "claimedWei": {
            "type": "string",
            "description": "Amount of ETH claimed, in wei as a decimal string."
          },
          "minedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp when the claim transaction was mined, or null."
          },
          "finalizedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp when the claim transaction was finalized, or null."
          }
        },
        "required": [
          "txHash",
          "claimedWei",
          "minedAt",
          "finalizedAt"
        ]
      },
      "RhIndexTokenHistoryBuy": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Basket token address that was bought."
          },
          "ethInWei": {
            "type": "string",
            "description": "ETH spent on the buy, in wei as a decimal string."
          },
          "boughtAmountRaw": {
            "type": "string",
            "nullable": true,
            "description": "Raw token amount bought (base units as a decimal string), or null when not available."
          },
          "txHash": {
            "type": "string",
            "nullable": true,
            "description": "Transaction hash of the buy, or null when not available."
          },
          "finalizedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp when the buy transaction was finalized, or null."
          }
        },
        "required": [
          "token",
          "ethInWei",
          "boughtAmountRaw",
          "txHash",
          "finalizedAt"
        ]
      },
      "RhIndexTokenHistorySnapshot": {
        "type": "object",
        "properties": {
          "holderCount": {
            "type": "number",
            "nullable": true,
            "description": "Total holder count at the snapshot, or null when not recorded."
          },
          "recipientCount": {
            "type": "number",
            "description": "Number of holders included in the distribution."
          },
          "excludedHolderCount": {
            "type": "number",
            "description": "Number of holders excluded from the distribution."
          },
          "includedSupply": {
            "type": "string",
            "description": "Token supply included in the distribution, in base units as a decimal string."
          },
          "blockNumber": {
            "type": "string",
            "nullable": true,
            "description": "Block number the snapshot was taken at, or null when not recorded."
          },
          "exportedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp when the snapshot was exported, or null."
          }
        },
        "required": [
          "holderCount",
          "recipientCount",
          "excludedHolderCount",
          "includedSupply",
          "blockNumber",
          "exportedAt"
        ]
      },
      "RhIndexTokenHistoryDistribution": {
        "type": "object",
        "properties": {
          "totalWei": {
            "type": "string",
            "description": "Total ETH value of the distribution, in wei as a decimal string."
          },
          "distributableWei": {
            "type": "string",
            "description": "ETH value actually distributable to holders, in wei as a decimal string."
          },
          "snapshot": {
            "$ref": "#/components/schemas/RhIndexTokenHistorySnapshot"
          },
          "payoutTxHashes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Transaction hashes of the payout batches."
          },
          "completedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the distribution completed."
          }
        },
        "required": [
          "totalWei",
          "distributableWei",
          "snapshot",
          "payoutTxHashes",
          "completedAt"
        ]
      },
      "RhIndexTokenHistoryRecipientAmount": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Basket token address."
          },
          "amountRaw": {
            "type": "string",
            "description": "Raw token amount received (base units as a decimal string)."
          }
        },
        "required": [
          "token",
          "amountRaw"
        ]
      },
      "RhIndexTokenHistoryRecipient": {
        "type": "object",
        "properties": {
          "wallet": {
            "type": "string",
            "description": "Recipient wallet address."
          },
          "snapshotBalanceRaw": {
            "type": "string",
            "description": "Recipient's index-token balance at the snapshot (base units as a decimal string)."
          },
          "amounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhIndexTokenHistoryRecipientAmount"
            },
            "description": "Per-basket-token amounts the recipient received."
          }
        },
        "required": [
          "wallet",
          "snapshotBalanceRaw",
          "amounts"
        ]
      },
      "RhIndexTokenHistoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Distribution cycle ID. Pass as `cursor` to fetch the next page."
          },
          "timestamp": {
            "type": "string",
            "description": "ISO 8601 timestamp of the distribution cycle."
          },
          "claim": {
            "$ref": "#/components/schemas/RhIndexTokenHistoryClaim"
          },
          "buys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhIndexTokenHistoryBuy"
            },
            "description": "Basket token buys funded by the claimed fees."
          },
          "distribution": {
            "$ref": "#/components/schemas/RhIndexTokenHistoryDistribution"
          },
          "topRecipients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhIndexTokenHistoryRecipient"
            },
            "description": "Top 10 recipients of the distribution by snapshot balance."
          }
        },
        "required": [
          "id",
          "timestamp",
          "claim",
          "buys",
          "distribution",
          "topRecipients"
        ]
      },
      "RhIndexTokenHistoryResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RhIndexTokenHistoryItem"
            },
            "description": "Completed distribution cycles, newest first. Only completed distributions with confirmed claims are included."
          },
          "hasMore": {
            "type": "boolean",
            "description": "True when more cycles exist beyond this page."
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for the next page. Pass back as `cursor`. Null when the history is exhausted."
          }
        },
        "required": [
          "items",
          "hasMore",
          "nextCursor"
        ]
      },
      "GetPoolConfigKeyByFeeClaimerVaultRequest": {
        "type": "object",
        "properties": {
          "feeClaimerVaults": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Public key of a fee claimer vault"
            },
            "description": "List of fee claimer vault public keys to query"
          }
        },
        "required": [
          "feeClaimerVaults"
        ]
      },
      "GetPoolConfigKeyByFeeClaimerVaultResponse": {
        "type": "object",
        "properties": {
          "poolConfigKeys": {
            "type": "array",
            "items": {
              "type": "string",
              "nullable": true,
              "description": "First matching Meteora DBC pool config key for the corresponding fee claimer vault, or null if none found"
            },
            "description": "Array aligned with input fee claimer vaults, containing first found pool config keys when present"
          }
        },
        "required": [
          "poolConfigKeys"
        ]
      },
      "BagsPoolInfo": {
        "type": "object",
        "properties": {
          "tokenMint": {
            "type": "string",
            "description": "Public key of the token mint"
          },
          "dbcConfigKey": {
            "type": "string",
            "nullable": true,
            "description": "Public key of the Meteora DBC config (absent for DAMM v2 direct launches, which have no DBC config)"
          },
          "dbcPoolKey": {
            "type": "string",
            "nullable": true,
            "description": "Public key of the Meteora DBC pool (absent for DAMM v2 direct launches, which have no DBC pool)"
          },
          "dammV2PoolKey": {
            "type": "string",
            "nullable": true,
            "description": "Public key of the DAMM v2 pool (present for migrated DBC pools and for DAMM v2 direct launches)"
          }
        },
        "required": [
          "tokenMint"
        ]
      },
      "TokenMint": {
        "type": "object",
        "properties": {
          "publicKey": {
            "type": "string",
            "description": "Public key of the token mint"
          },
          "claimedByUserId": {
            "type": "string",
            "description": "User ID who claimed this mint"
          }
        }
      },
      "TransactionConfig": {
        "type": "object",
        "properties": {
          "tx": {
            "type": "string",
            "nullable": true,
            "description": "Base58 encoded serialized transaction, null if config already exists"
          },
          "configKey": {
            "type": "string",
            "description": "Base58 encoded config key public key"
          }
        },
        "required": [
          "configKey"
        ]
      },
      "TokenLaunchResponse": {
        "type": "object",
        "properties": {
          "info": {
            "type": "string",
            "description": "Instructions for handling the transactions"
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Base58 encoded serialized transaction"
            },
            "description": "Array of transactions to be signed and sent in order"
          },
          "configKey": {
            "type": "string",
            "description": "Base58 encoded config key"
          },
          "tokenMint": {
            "$ref": "#/components/schemas/TokenMint"
          }
        },
        "required": [
          "info",
          "transactions",
          "configKey",
          "tokenMint"
        ]
      },
      "TokenLaunchStatus": {
        "type": "string",
        "enum": [
          "PRE_LAUNCH",
          "PRE_GRAD",
          "MIGRATING",
          "MIGRATED"
        ],
        "description": "Status of the token launch"
      },
      "BagsLaunchPadTokenLaunch": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "User ID of the token creator",
            "nullable": true
          },
          "name": {
            "type": "string",
            "description": "Token name"
          },
          "symbol": {
            "type": "string",
            "description": "Token symbol"
          },
          "description": {
            "type": "string",
            "description": "Token description"
          },
          "telegram": {
            "type": "string",
            "description": "Telegram URL",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "description": "Twitter URL",
            "nullable": true
          },
          "website": {
            "type": "string",
            "description": "Website URL",
            "nullable": true
          },
          "image": {
            "type": "string",
            "description": "Token image URL"
          },
          "tokenMint": {
            "type": "string",
            "description": "Public key of the token mint"
          },
          "status": {
            "$ref": "#/components/schemas/TokenLaunchStatus"
          },
          "launchWallet": {
            "type": "string",
            "description": "Public key of the launch wallet",
[...]
